.featured-jobs {
  width: 100%;
  margin-top: 60px;
  padding: 40px;
  background-color: var(--color-grey-100);
  border-radius: 20px;
}

.the-company {
  left: 25px;
  display: flex;
  margin: 20px auto;
  width: 83%;
  height: 17%;
  border-radius: 8px;
  background-color: var(--color-grey-0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}

.featured-jobs-nav {
  margin-right: 70px;
}

.features-title {
  font-size: 32px;
  margin-left: 20px;
}

.company-details {
  display: flex;
  align-items: center;
}

.company-logo img {
  width: 80px;
  height: auto;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.company-name {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 1px;
  color: #7c8493;
}

.company-name name {
  color: #007bff;
  text-transform: capitalize;
  font-size: 15px;
}

.company-title {
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.company-details span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  margin-left: 0px;
  color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 2px 10px;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.company-detail-button {
  margin: 35px auto;
  margin-right: 30px;
}

.accept-student span {
  color: red;
  margin-left: 5px;
}

.companies-shown {
  display: flex;
  flex-direction: column;
}
